body {
    margin: 0;
    background-color: var(--LIGHTBG);
}

.login-back {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 0 40px;
    box-sizing: border-box;
}

.login-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--DARKBG);
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)),
        url("../../../public/images/docuBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Add a value position */
}

/* LEFT */
.description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--TEXTLIGHT);
    padding: 2vw;
    gap: 15px;
    background: linear-gradient(rgba(30, 30, 30, 0.5), rgba(30, 30, 30, 0.5)),
        url("../../../public/images/docuBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    z-index: 1;
}

/* RIGHT */
.login-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    border-radius: 20px;
    border: solid 1px black;
    background-color: var(--CARD);
    z-index: 2;
}

.EaseDocu {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 5vh;
    height: auto;
}

h1 {
    margin: 0;
    font-size: var(--HEADER);
    font-family: var(--POPPINS);
}

h2 {
    margin: 0;
    font-size: var(--SUBHEADER);
    font-family: var(--WORK-SANS);
}

p {
    margin: 0;
    font-size: var(--BODY);
    font-family: var(--WORK-SANS);
}

.description h2{
    font-weight: 200;
}

/* Input Design */
.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    width: 100%;
}

.inputs input {
    padding: 15px;
    font-size: var(--SUBHEADER);
    font-family: var(--WORK-SANS);
    border-radius: 15px;
    margin-top: 4.25vh;
}

.remember {
    display: flex;
    margin: 20px 0 20px 0;
    justify-content: space-between;
    align-items: flex-end;
}

.checkbox-container {
    align-content: center;
}

.checkbox-container label {
    font-family: var(--WORK-SANS);
    font-size: var(--BODY);
}

a {
    text-decoration: none;
    color: var(--ACCENT);
    font-weight: bold;
}

.btns {
    width: 100%;
    height: auto;
    font-size: var(--SUBHEADER);
    font-family: var(--POPPINS);
    border-radius: 15px;
    background-color: var(--PRIMARY);
    color: var(--TEXTLIGHT);
    font-weight: bold;
    padding: 8px 0 8px 0;
    transition: all 0.3s ease-in-out;
}

.btns:hover {
    background-color: var(--ACCENT);
    color: var(--TEXTDARK);
    font-weight: bold;
}

.signupPanel {
    margin: 20px 0 20px 0;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .login-back {
        height: unset;
    }
    .login-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .login-back{
        padding: 20px;
        margin: 20px;
    }
}

@media screen and (max-width: 650px) {
    .login-back {
        padding: 0;
        margin: 0;
        background-color: var(--CARD);
    }
    .description{
        border-radius: 0;
    }
    .login-container{
        box-shadow: none;
    }
    .login-form{
        border-radius: 26px 26px 0 0;
        border: none;
    }
}
